.about {
  margin-top: 80px;

  .aboutWrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    align-items: stretch;
    border-bottom: 1px solid black;
    padding-bottom: 80px;

    .photoAbout {
      max-width: 500px;
      height: 500px;
    }

    .aboutHeader {
      margin-left: 50px;

      h3 {
        font-weight: 400;
        font-size: 60px;
        color: #9f2602;
      }

      p {
        font-weight: 400;
        font-size: 20px;
      }
      .upper{
        text-transform: uppercase;
      }

      button {
        padding: 20px 30px;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 300;
        font-size: 20px;
        color: black;
        background: white;
        border: 1px solid black;
        margin-top: 16px;

        &:hover {
          color: white;
          background: black;

        }
      }
    }
  }

  .education {
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    h3 {
      font-weight: 400;
      font-size: 60px;
      color: #9f2602;
    }

    .educationLeft {
      margin-top: 36px;

      h5 {
        font-weight: 800;
        font-size: 30px;
        color: black;

      }

      p {
        font-size: 30px;
        text-decoration: underline;
      }
    }

  }

  .mainAbout {
    background-color: #9f2602;
    color: white;

    .mainAboutWrapper {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
     justify-content: space-between;
      align-items: flex-start;


      p{
         font-weight: 500;
      font-size: 30px;
        padding: 30px;
      }
      li{
        list-style-type: none;
       font-weight: 300;
        font-size: 30px;
        padding: 20px 0;
      }
    }
  }

}