.wrapper {
  position: sticky;
  top: 0;
  background-color: #ffffff;

  .header {
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #050505;


     .in {
      font-weight: 800;
      color: #9f2602;
      line-height: 75px;
      border: 1px solid #9f2602;
      padding: 5px 8px;

       &:hover {
        color: white;
        background: #9f2602;
      }
    }


    .logo {
      font-weight: 700;
      color: #9f2602;
    }


    .nav ul {
      display: flex;

      li {
        margin: 0 30px 0;
        list-style-type: none;

        :hover {
          color: #9f2602;
          border-bottom: 1px solid #770303;
          font-weight: 400;

        }
        &:active{
          color: #9f2602;
        }

      }
    }
  }

  a {
    text-decoration: none;
    color: #050505;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;


  }


}
